In [2]:
import pandas as pd

print("Starting preprocessing...")

df = pd.read_csv("../data/stock_data.csv", index_col=0, parse_dates=True)

Starting preprocessing...

In [3]:
df.tail(5)

            1. open  2. high   3. low  4. close   5. volume
2026-02-02  260.030  270.490  259.205    270.01  73913425.0
2026-02-03  269.200  271.875  267.610    269.48  63799388.0
2026-02-04  272.285  278.950  272.285    276.49  90545710.0
2026-02-05  278.130  279.500  273.230    275.91  52977441.0
2026-02-06  277.120  280.905  276.925    278.12  50453414.0