In [6]:
import pandas as pd

print("Starting preprocessing...")

df = pd.read_csv("../data/stock_data.csv", index_col=0, parse_dates=True)

Starting preprocessing...

In [7]:
df.tail(5)

            1. open  2. high   3. low  4. close   5. volume
2026-02-02  260.030  270.490  259.205    270.01  73913425.0
2026-02-03  269.200  271.875  267.610    269.48  63799388.0
2026-02-04  272.285  278.950  272.285    276.49  90545710.0
2026-02-05  278.130  279.500  273.230    275.91  52977441.0
2026-02-06  277.120  280.905  276.925    278.12  50453414.0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 100 entries, 2025-09-16 to 2026-02-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    100 non-null    float64
 1   high    100 non-null    float64
 2   low     100 non-null    float64
 3   close   100 non-null    float64
 4   volume  100 non-null    float64
dtypes: float64(5)
memory usage: 4.7 KB

In [9]:
df.columns = ["open", "high", "low", "close", "volume"]

In [11]:
df["daily_return"] = df["close"].pct_change()

In [12]:
df["daily_return"]

2025-09-16         NaN
2025-09-17    0.003527
2025-09-18   -0.004645
2025-09-19    0.032033
2025-09-22    0.043096
                ...
2026-02-02    0.040581
2026-02-03   -0.001963
2026-02-04    0.026013
2026-02-05   -0.002098
2026-02-06    0.008010
Name: daily_return, Length: 100, dtype: float64

In [13]:
df["ma_5"] = df["close"].rolling(5).mean()

In [14]:
df["ma_5"]

2025-09-16        NaN
2025-09-17        NaN
2025-09-18        NaN
2025-09-19        NaN
2025-09-22    243.320
               ...
2026-02-02    260.496
2026-02-03    262.738
2026-02-04    266.748
2026-02-05    270.274
2026-02-06    274.002
Name: ma_5, Length: 100, dtype: float64

In [15]:
df["ma_10"] = df["close"].rolling(10).mean()

In [16]:
df["ma_10"]

2025-09-16        NaN
2025-09-17        NaN
2025-09-18        NaN
2025-09-19        NaN
2025-09-22        NaN
               ...
2026-02-02    254.863
2026-02-03    257.141
2026-02-04    260.025
2026-02-05    262.781
2026-02-06    265.789
Name: ma_10, Length: 100, dtype: float64

In [17]:
df["high_low_diff"] = df["high"] - df["low"]

In [18]:
df["prev_close"] = df["close"].shift(1)

In [19]:
df["target"] = df["close"].shift(-1)

In [20]:
df.dropna(inplace=True)

In [21]:
df.shape

(90, 11)

In [22]:
df.to_csv("../data/processed_stock_data.csv")